<div>
    <p></p>
    <table class="table table-hover">
        <tr>
            <td></td>
            <td>Название товара</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <!--         чекбокс для отметки товаров, которые хотим передать в заказ (добавляет id товара в массив)-->
            <td>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value={{item.productId}}
                           ng-checked="selection.indexOf(item.productId) > -1"
                           ng-click="toggleSelection(item.productId)"
                           id="flexCheckDefault">
                </div>
            </td>
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
            <td>
                <button class="btn btn-primary position end" ng-click="decrementProduct(item.productId)" ng-click=consoleL>Удалить
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Итого</td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <button class="btn btn-secondary" ng-click="clearCart()">Очистить корзину</button>
    </p>

    <p></p>
    <p>
    <form ng-show="isUserLoggedIn() && cart.items.length > 0" novalidate>
        <h3>Доставка</h3>

        <input class="form-control" type="text" placeholder="Номер телефона получателя" ng-model="orderDetails.phone">
        <p></p>
        <input class="form-control" type="text" placeholder="Город" ng-model="orderDetails.city">
        <p></p>
        <input class="form-control" type="text" placeholder="Улица" ng-model="orderDetails.street">
        <p></p>
        <input class="form-control" type="text" placeholder="Дом" ng-model="orderDetails.house">
        <p></p>
        <input class="form-control" type="text" placeholder="Квартира" ng-model="orderDetails.apartment">
        <p></p>
    </form>

    <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    </p>
</div>