<div>
    <p></p>
    <h3>Корзина</h3>
    <table class="table table-hover">
        <tr>
            <td>Название товара</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Итого</td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <button class="btn btn-secondary" ng-click="clearCart()">Очистить корзину</button>
    </p>

    <p></p>
    <h3>Детали заказа</h3>
    <form novalidate>
        <input class="form-control" type="text" placeholder="Номер телефона получателя" ng-model="orderDetails.phone">
        <h3>Delivery address</h3>
        <p></p>
        <input class="form-control" type="text" placeholder="City" ng-model="orderDetails.city">
        <p></p>
        <input class="form-control" type="text" placeholder="Street" ng-model="orderDetails.street">
        <p></p>
        <input class="form-control" type="text" placeholder="House" ng-model="orderDetails.house">
        <p></p>
        <input class="form-control" type="text" placeholder="apartment" ng-model="orderDetails.apartment">
        <p></p>
    </form>

    <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
</div>