<div>

    <div class="row g-2">
        <div class="col-6 col-md-2" style="margin-top: 50px">
            <form novalidate ng-submit="loadProducts()">
                <div class="form-floating input-group-sm">
                    <input type="text" class="form-control" id="filterTitle" placeholder=""
                           ng-model="filter.title_part">
                    <label for="filterTitle">Название продукта</label>
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
                    <input type="number" class="form-control" id="filterMinPrice" placeholder="Мин. цен"
                           ng-model="filter.min_price">
                    <label for="filterMinPrice">Мин. цена</label>
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
                    <input type="number" class="form-control" id="filterMaxPrice" placeholder="Макс. цена"
                           ng-model="filter.max_price">
                    <label for="filterMaxPrice">Макс. цена</label>
                </div>
                <p></p>

                <select class="form-select" ng-model="filter.category">
                    <option value="All">Все</option>
                    <option value="Meat">Мясо</option>
                    <option value="Vegetables">Овощи</option>
                    <option value="Dairy">Молочные продукты</option>
                    <option value="Fruits">Фрукты</option>
                    <option value="Bakery">Хлебобулочные изделия</option>
                    <option value="Fish">Рыба</option>
                </select>

                <p></p>
                <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Применить</button>
            </form>
        </div>
        <div class="col-sm-6 col-md-10" style="margin-top: 50px">
            <table class="table table-hover">
                <tr>
                    <td class="align-middle">ID</td>
                    <td class="align-middle">Название</td>
                    <td class="align-middle">Цена</td>
                    <td class="align-middle"></td>
                </tr>
                <tbody>
                <tr ng-repeat="p in ProductsPage.content">
                    <td class="align-middle">{{p.id}}</td>
                    <td class="align-middle">{{p.title}}</td>
                    <td class="align-middle">{{p.price}}</td>
                    <td class="align-middle">
                        <button class="btn btn-primary position end" ng-click="addToCart(p.id)">Добавить</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p></p>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" ng-repeat="pageIndex in paginationArray">
                        <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <p></p>
    <h3 class="text-center">Сегодня покупают</h3>
    <p></p>
    <table class="table table-hover">
        <tr>
            <td class="align-middle" ng-repeat="products in MostPopularProducts.content">
                <div class="ui-a6e" style="transition-duration: 500ms; transform: translateX(0px);">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{products.productDto.title}}</h5>
                            <img src={{products.productDto.pictureLink}} class="card-img-top" alt="...">
                            <p class="card-text"></p>
                            <button class="btn btn-primary position end" ng-click="addToCart(products.productDto.id)">Добавить в карзину</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>


</div>