<!doctype html>

<html ng-app="market-front">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" type="button" role="tab" aria-selected="true"><a class="nav-link" href="#!/">Online-store</a></button>
            <button class="nav-link" id="nav-items-tab" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"><a class="nav-link" href="#!/store">Каталог товаров</a></button>
            <button class="nav-link" id="nav-cart-tab" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"><a class="nav-link" href="#!/cart">Корзина</a></button>
            <button class="nav-link" id="nav-orders-tab" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" ng-show="isUserLoggedIn()"><a class="nav-link" href="#!/orders">Мои заказы</a></button>

            <li class="nav-item" ng-show="!isUserLoggedIn()" style="margin-left: 200px; margin-top: 10px">
                <form class="align-middle" ng-submit="tryToAuth()">
                    <div class="input-group input-group-sm" style="padding: 4px;">
                        <input id="navLoginField" class="form-control" ng-model="user.username" type="text" aria-describedby="inputGroup-sizing-sm" placeholder="Логин" data-bs-toggle="tab">
                        <input id="navPasswordField" class="form-control" ng-model="user.password" type="password" aria-describedby="inputGroup-sizing-sm" placeholder="Пароль">
                        <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm" type="submit">Войти</button>
                    </div>
                </form>
            </li>

            <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                <button class="btn btn-outline-secondary btn-sm" style="margin-left: 300px" ng-click="tryToLogout()" >Выйти</button>
            </li>
        </div>
    </nav>


    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="store/store.js"></script>
    <script src="cart/cart.js"></script>
    <script src="orders/orders.js"></script>
    <script src="order_pay/order_pay.js"></script>
    <script src="welcome/welcome.js"></script>

    <!--подключение скриптов paypal - обязательно нужно указать валюту-->
    <script
            src="https://www.paypal.com/sdk/js?client-id=AZX9sEz_m_KSN8L6yOcKLZMq4BJ5bJ1uRpNzPE_5PqswQIRysphIDBii578puqKFxEEP-3QoK5O6Kk94&currency=USD">
    </script>
    <script src="webjars/angular/1.8.2/angular.min.js"></script>
    <script src="webjars/angular-route/1.8.2/angular-route.min.js"></script>
    <script src="webjars/ngstorage/0.3.11/ngStorage.min.js"></script>
</div>
</body>
</html>